/*header css*/
.header{
  width: 100%;
  padding: 20px 5%;
display: flex;
justify-content: space-between;
color:white;
background-image: url('https://static.vecteezy.com/system/resources/previews/006/929/655/non_2x/speed-motion-on-night-abstract-image-of-future-technology-concept-free-photo.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-size: larger;
font-family:Georgia, 'Times New Roman', Times, serif;
}



input{
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}




/*news articles css*/

.News{
  width: 22%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.newsarticles{
  width: 100%;
  padding: 30px 5%;
background-size: 100%;
background-image:url('https://png.pngtree.com/thumb_back/fh260/background/20210810/pngtree-dark-red-abstract-smoke-cloud-dark-color-background-image_759871.jpg');
 
  display: flex;
  column-gap: 4%;
  flex-wrap: wrap;
row-gap: 20px;
}
.news-img{
  width: 100%;
  height: 200px;

  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.news-img img{
  width: 100%;
}

.source{
  display: flex;
  justify-content:space-between;
  color:gray;
}

h3{
  font-size: 1.3rem;
  color:gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}